:root{
    --darkblue : #12376B;
    --darkorange : #F04B25;
    --BGLightOrange: #F04B2540;
    --yellow :#F4A905;
    --lightYellow:#F4A90540;
    --red : #F04B25;
    --blue: #286CD5;
    --BGlightBlue:#286CD540;
    --BGLightDarkBlue: #12376B40;
    --white : #fff;
    --textgray: #616161;
    --lightGrayBackground: #F5F5F5;
    --colorForMask: #F4A90526;
    --BGForCards: #F5F5F5;
    --BGpPictureLightYello: #F4A90540;
    --BGpPictureLightBlue: #286CD540;
    --BGpPictureLightOrange: #F04B2540;
    --BGpPictureLightDarkBlue: #12376B40;
    --zety: #9B6900;
    --BGgray: #EAEAEA;
}



.activeWhenPay{
    height: 500px;
    background-color: var(--BGgray);
}
.carryImage{
    background-image: url("../Images/our\ Courses/Diploma Of Graphic.PNG");
    height: 243px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.undercarryImage p{
    font-size: 13px;
    margin: 0;
}
.applyCodeInput input[type="text"]{
    width: 100%;
    padding: 4% 5% 4% 35%;
    border-radius: 5px;
    font-size: 12px;
}
.applyCodeInput input[type="submit"] {
    top: 0px;
    left: 0px;
    background-color: var(--red);
    padding: 3.5%  10%;
    border-radius: 5px 0px 0px 5px;
    color: var(--white);
    border: none;
}


.JoinUsNow {
    border: none;
    margin: 40px auto;
    display: block;
    background-color: snow;
}
.JoinUsNow a{
    text-decoration: none;
    background-color: var(--red);
    padding: 20px 50px;
    border-radius: 100px;
    color: var(--white);
}
.countryTelephoneCode p{
    top: 0;
    right: 0;
    padding: 6px 10px;
    border-left: 1px solid black;
}












@media screen and (max-width:767px){
  
  


}



@media screen and (max-width:480px){

}
